{{template "header" .}}
<table role="presentation" class="main">
  <tr>
    <td class="wrapper">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <p>Hi {{ .Name}}</p>
            <p>
              Your password reset link is <a href="{{.URL}}">{{ .URL}}</a>, make
              a PUT request to it
            </p>
            <p>
              If it was not you please ignore this email, no action is required
              on your end.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{{template "footer"}}
