{{template "header" .}}
<table role="presentation" class="main">
  <tr>
    <td class="wrapper">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <p>Hi {{ .Name}}</p>
            <p>Your password has been reseetted successefully at {{ .Date}}</p>

            <p>
              If it was not you please go to
              <a href="{{.URL}}">This link</a> to review it.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{{template "footer"}}
